In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [6]:
df =pd.read_csv('csv_files/titanic.csv')

In [7]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [18]:
df.Sex.nunique()

2

In [19]:
df.Embarked.nunique()

3

In [12]:
from sklearn.preprocessing import OneHotEncoder
enc = OneHotEncoder(handle_unknown='ignore',sparse=False)

In [28]:
df_encoded_sex = pd.DataFrame(enc.fit_transform(df[['Sex']]))

In [29]:
enc.categories_

[array(['female', 'male'], dtype=object)]

In [30]:
df_encoded_sex.columns = ['female', 'male']

In [39]:
df_encoded_sex

     female  male
0       0.0   1.0
1       1.0   0.0
2       1.0   0.0
3       1.0   0.0
4       0.0   1.0
..      ...   ...
886     0.0   1.0
887     1.0   0.0
888     1.0   0.0
889     0.0   1.0
890     0.0   1.0

[891 rows x 2 columns]

In [32]:
df_encoded_cabin = pd.DataFrame(enc.fit_transform(df[['Cabin']]))

In [34]:
df_encoded_cabin.columns = ['A10', 'A14', 'A16', 'A19', 'A20', 'A23', 'A24', 'A26', 'A31',
        'A32', 'A34', 'A36', 'A5', 'A6', 'A7', 'B101', 'B102', 'B18',
        'B19', 'B20', 'B22', 'B28', 'B3', 'B30', 'B35', 'B37', 'B38',
        'B39', 'B4', 'B41', 'B42', 'B49', 'B5', 'B50', 'B51 B53 B55',
        'B57 B59 B63 B66', 'B58 B60', 'B69', 'B71', 'B73', 'B77', 'B78',
        'B79', 'B80', 'B82 B84', 'B86', 'B94', 'B96 B98', 'C101', 'C103',
        'C104', 'C106', 'C110', 'C111', 'C118', 'C123', 'C124', 'C125',
        'C126', 'C128', 'C148', 'C2', 'C22 C26', 'C23 C25 C27', 'C30',
        'C32', 'C45', 'C46', 'C47', 'C49', 'C50', 'C52', 'C54', 'C62 C64',
        'C65', 'C68', 'C7', 'C70', 'C78', 'C82', 'C83', 'C85', 'C86',
        'C87', 'C90', 'C91', 'C92', 'C93', 'C95', 'C99', 'D', 'D10 D12',
        'D11', 'D15', 'D17', 'D19', 'D20', 'D21', 'D26', 'D28', 'D30',
        'D33', 'D35', 'D36', 'D37', 'D45', 'D46', 'D47', 'D48', 'D49',
        'D50', 'D56', 'D6', 'D7', 'D9', 'E10', 'E101', 'E12', 'E121',
        'E17', 'E24', 'E25', 'E31', 'E33', 'E34', 'E36', 'E38', 'E40',
        'E44', 'E46', 'E49', 'E50', 'E58', 'E63', 'E67', 'E68', 'E77',
        'E8', 'F E69', 'F G63', 'F G73', 'F2', 'F33', 'F38', 'F4', 'G6',
        'T', np.nan]

In [41]:
df = pd.merge(df,df_encoded_sex,left_index=True,right_index=True)

In [42]:
df = pd.merge(df,df_encoded_cabin,left_index=True,right_index=True)

In [46]:
df.drop(['Name','Ticket'],inplace=True,axis=1)

In [48]:
df.drop(['Embarked','PassengerId','Sex'],axis=1,inplace=True)

In [49]:
df.head()

,Survived,Pclass,Age,SibSp,Parch,Fare,Cabin,female,male,A10,...,F E69,F G63,F G73,F2,F33,F38,F4,G6,T,NaN
0,0,3,22.0,1,0,7.2500,NaN,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,1,1,38.0,1,0,71.2833,C85,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1,3,26.0,0,0,7.9250,NaN,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
3,1,1,35.0,1,0,53.1000,C123,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0,3,35.0,0,0,8.0500,NaN,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [67]:
df.dropna(inplace=True)

In [68]:
df.shape

(185, 157)

In [69]:
from sklearn.model_selection import train_test_split

In [70]:
train,test = train_test_split(df,test_size=0.3)

In [71]:
train.shape

(129, 157)

In [72]:
test.shape

(56, 157)

In [73]:
target = 'Survived'

In [74]:
x_train = train.drop([target,'Cabin'],axis=1)
x_test = test.drop([target,'Cabin'],axis=1)

In [75]:
x_train.head()

,Pclass,Age,SibSp,Parch,Fare,female,male,A10,A14,A16,...,F E69,F G63,F G73,F2,F33,F38,F4,G6,T,NaN
544,1,50.0,1,0,106.425,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
763,1,36.0,1,2,120.000,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
759,1,33.0,0,0,86.500,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
257,1,30.0,0,0,86.500,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
263,1,40.0,0,0,0.000,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [76]:
y_train = train[target]
y_test = test[target]

In [77]:
from sklearn.linear_model import LogisticRegression

In [78]:
model = LogisticRegression()

In [79]:
model.fit(x_train,y_train)

C:\Users\rahul\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\utils\validation.py:1858: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['float', 'str']. An error will be raised in 1.2.
  warnings.warn(
C:\Users\rahul\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\linear_model\_logistic.py:444: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [80]:
model.coef_

array([[-0.09036405, -0.04455906,  0.02635941, -0.34854504,  0.00199484,
         1.52964789, -1.27798337, -0.40981858,  0.        ,  0.10539417,
         0.        ,  0.59828119,  0.        ,  0.        ,  0.67777413,
         0.51017402,  0.        ,  0.28827551, -0.36959008, -0.13802755,
         0.38477964, -0.23162324,  0.32148446,  0.        ,  0.03642123,
        -0.19697101,  0.40976293,  0.01309987,  0.06760935,  0.        ,
         0.        ,  0.06831822, -0.21692172,  0.        ,  0.06781542,
         0.09177127,  0.77459598,  0.        ,  0.02810556,  0.06648858,
         0.        , -0.43016966,  0.04783573, -0.36604475,  0.15196074,
        -0.46370231,  0.        ,  0.09462381,  0.        ,  0.02435966,
         0.13688513,  0.        , -0.54515159, -0.36007991,  0.4156778 ,
         0.12563148,  0.15680816,  0.        ,  0.        , -0.30931197,
        -0.46742354,  0.        , -0.33529465,  0.        ,  0.22771832,
         0.58914877,  0.        ,  0.        , -0.4507375 , -0.6229871 ,
        -0.3532845 , -0.23906632,  0.        ,  0.05656913, -0.42017971,
         0.        , -0.85982558,  0.        ,  0.        ,  0.03612111,
         0.        , -0.5837222 , -0.24443625,  0.        ,  0.        ,
        -0.28440939, -0.40112246, -0.26921461,  0.06770199, -0.29584956,
        -0.18920555,  0.0371946 ,  0.        ,  0.        ,  0.49348877,
         0.        ,  0.        , -0.30230809,  0.4007854 ,  0.11323885,
         0.05238481,  0.        ,  0.        ,  0.22338032,  0.        ,
        -0.59413597,  0.03699812,  0.        ,  0.10499035,  0.60790912,
         0.03333189,  0.15833521,  0.        , -0.30502301,  0.06106839,
        -0.13911288,  0.36450724,  0.        ,  0.50247897,  0.        ,
         0.        ,  0.03142871,  0.53163608,  0.11261006,  0.        ,
         0.38915986,  0.62861873,  0.74857895,  0.46920472, -0.32051419,
         0.04823967,  0.        ,  0.        , -0.17046298,  0.07194842,
        -0.28466572, -0.25114529,  0.09428727,  0.35154126,  0.        ,
         0.        , -0.11255094,  0.05531717,  0.        ,  0.39187583,
         0.        ,  0.        , -0.66308944,  0.20576895,  0.09780813,
         0.        ,  0.25286977, -0.86333467,  0.        ,  0.        ]])

In [81]:
predictions = model.predict_proba(x_test)

C:\Users\rahul\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\utils\validation.py:1858: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['float', 'str']. An error will be raised in 1.2.
  warnings.warn(

In [86]:
pred = model.predict(x_test)

C:\Users\rahul\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\utils\validation.py:1858: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['float', 'str']. An error will be raised in 1.2.
  warnings.warn(

In [87]:
pred

array([1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 0, 1, 1, 0, 1, 1, 0, 1, 1, 1, 0,
       1, 1, 1, 0, 1, 0, 1, 1, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0,
       1, 0, 0, 0, 1, 1, 1, 0, 1, 0, 1, 1], dtype=int64)